In [7]:
import pandas as pd
import numpy as np

In [2]:
arquivo = pd.read_csv('dados/ultra(1).csv')

pd.

arquivo.head()

                 Tempo  Temperatura   Ano  Trimestre  Mês  Dia  Ordem
0  2021-06-01 00:01:31        -84.2  2021          2    6    1      1
1  2021-06-01 00:05:33        -85.1  2021          2    6    1      1
2  2021-06-01 00:09:38        -85.1  2021          2    6    1      1
3  2021-06-01 00:13:43        -85.1  2021          2    6    1      1
4  2021-06-01 00:17:48        -90.0  2021          2    6    1      1

In [5]:
tempo = arquivo['Tempo']

tempo

0        2021-06-01 00:01:31
1        2021-06-01 00:05:33
2        2021-06-01 00:09:38
3        2021-06-01 00:13:43
4        2021-06-01 00:17:48
                ...
98813    2021-11-26 15:26:12
98814    2021-11-26 15:27:12
98815    2021-11-26 15:32:12
98816    2021-11-26 15:33:12
98817    2021-11-26 15:34:12
Name: Tempo, Length: 98818, dtype: object

In [9]:
rng2 = pd.date_range("2021-06-01", "2021-11-01")

In [10]:
ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)

In [16]:
vartest = ts2.truncate(before="2021-07-01", after="2021-09-08")

In [17]:
vartest.shape[0]

70